<div class="flex h-screen w-screen relative">
    <div
        class="absolute h-screen inset-0 bg-[url(/assets/images/panelPatern3.png)] bg-center bg-repeat opacity-30 -z-10">
    </div>

    <aside class="bg-surface-0/40 rounded-2xl m-4 mr-0 p-4 shadow-lg flex flex-col justify-between space-y-4 border border-surface-100">
        <div class="flex flex-col gap-2">
            <app-sidebar-nav />
        </div>

        <div class="card flex items-center justify-center">
            <div (click)="op.toggle($event)" class="cursor-pointer" pInputText pTooltip="Cuenta">
                <p-avatar [label]="userInitials"
                    class="select-none bg-surface-800 text-primary-contrast hover:scale-105 transition-transform duration-100 ease-in-out"
                    size="large" shape="circle" />
            </div>

            <p-popover #op>
                <div class="flex flex-col">
                    <div>
                        <span class="font-bold">Mi Cuenta</span>
                    </div>
                    <div>
                        <button pButton icon="pi pi-user" size="small" class="p-button-text" fluid>
                            <div class="text-start w-full">
                                Perfil
                            </div>
                        </button>
                    </div>
                    <div>
                        <button pButton label="Cerrar Sesión" icon="pi pi-sign-out"
                            class="p-button-text p-button-danger" size="small" (click)="logout()"></button>

                    </div>
                </div>
            </p-popover>

        </div>
    </aside>

    <main class="w-full m-4 overflow-hidden">
        <router-outlet />
    </main>

</div>