spring:
  application:
    name: easy-restaurant
  datasource:
    url: jdbc:postgresql://localhost:5432/easy_restaurant_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
        show_sql: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    drop-first: false

  jwt:
    secret: a-very-long-super-secure-secret-key-with-at-least-64-characters-!!!!
    expiration: 300000 # 5 minExpiration
    refresh-token-expiration: 900000 # 15 minExpiration

